@charset "UTF-8";

/*
bleu foncé : #2C3E50
bleu claire : lightBlue
bleu moyen : #30A6E6
*/

/* Pour la police */
*
{
    font-family: 'Roboto', sans-serif;
}
/* Complémentaire */
body, html
{
    padding: 0;
    margin: 0;
    background-color: white;
}
.container-fluid
{
    padding: 0;
    
}
a, a:hover 
{
    text-decoration: none;
}
.imageLogo
{
    position: absolute;
    left: 7px;
    top: 5px;
}
.about p
{
    text-align: center;
}
.about .row
{
    margin: auto;
}
formCreat
{
    margin-bottom: 50px;
}
.about form
{
    margin: auto;
}



/* header */
.header
{
    background-color: grey;
    height: 70px;
    line-height: 70px; 
    border-bottom: 1px black solid;
    color: white;
}
.logo, .logo:hover
{
    color : #ffffff; 
    font-weight: bold;
    letter-spacing: 2px;
    float: left;
    font-size: 32px;
    text-decoration: none;
    position: absolute;
    left: 80px;
    top: 0px;
}
.header .btn-custom
{
    background-color: white;
    color: #ffffff;
}
.header .btn-custom:hover
{
    background-color: white;
    color: #ffffff;
}

/* Menu */
.menu
{
    float: right;
}
.menu a 
{
    color: white;
    margin-right: 20px;
    transition: 0.25s;
}
.menu a:hover
{
    color:white;
    text-decoration: none;
}

a.menu:after, .dropdown-toggle:after 
{
    content: none;
}
.nav-pills:hover
{
    text-decoration: none;
}
.titre
{
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.titre:hover
{
    background: #3498DB;
}

/* Menu déroulant */
.dropdownmenu span, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu span {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: right;
	position: relative;
	
}
.dropdownmenu a {
	display: block;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
        padding-right: 10px;
        padding-left: 10px;
        /*background-color: #30A6E6;*/
}
.dropdownmenu li:hover a {
	background: #3498DB;
}

/* ul */
#submenu 
{
	left: 0;
	opacity: 0;
	position: absolute;
	top: 55px;
	visibility: hidden;
	z-index: 1;
        padding-left: 0;
        padding-right: 0;
        margin-top: 30px;
        
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
/* li */
#submenu li 
{  
    box-sizing: content-box;
    width: 100%;
    list-style: none;
}
/* a */
#submenu a
{
    background: white;
}

#submenu a:hover 
{
    background: royalblue;
}




/* Banner */
.banner
{
    width: 100%;
    max-width :100%;
}
.ban
{
    width: 100%;
    max-width :100%;   
    position: relative;
    border-bottom: 1px black solid;
    border-top: 0px black solid;
}
.ban img
{
    width: 100%;
    max-width: 100%;    
}
.inner-banner
{
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
}
.inner-banner h1
{
    color: #ffffff;
    text-shadow: 1px 1px 20px #000000;
}
.inner-banner .btn-custom
{
    background-color: #3498DB;
    color: #ffffff;
}
.inner-banner .btn-custom:hover
{
    background-color: #2C3E50;
    color: #ffffff;
}





/* ¨Principal */
.about
{
    background-image:linear-gradient(grey, white);
}
#about
{
    text-align: center;
    padding-top: 10%;
}
article 
{
    text-align: justify;
}

.about article
{
    margin-top: 5%;
}

.about article h2
{
    text-align: center;
}
.about article img
{
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

.about h1
{
    text-align: center;
    padding-top: 30px;    
    margin: auto;
}
.separator
{
    border-bottom: 1px solid #d1d1d1;
    border-top: 0px;
    width: 100%;
}



/* Footer */
.footer
{
    background: #ffffff;
    text-align: center;
}




/* Le tableau */
table
{
    margin: auto;
    box-shadow: 0 0 8px #9b9b9b;
    margin-top: 30px;
}
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:17px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  align-items: center;
}
th:first-child {
  border-top-left-radius:3px;
}
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:17px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
tr:first-child {
  border-top:none;
}
tr:last-child {
  border-bottom:none;
}
tr:nth-child(odd) td {
  background:#EBEBEB;
}
tr:nth-child(odd):hover td {
  background:#4E5066;
}
tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:17px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  transition: 0.25s;
}
td:last-child {
  border-right: 0px;
}
th.text-left {
  text-align: left;
}
th.text-center {
  text-align: center;
}
th.text-right {
  text-align: right;
}
td.text-left {
  text-align: left;
}
td.text-center {
  text-align: center;
}
td.text-right {
  text-align: right;
}





/* Formulaire */
form
{
    margin: auto;
    text-align: center;
}
.formCreat
{
    border-radius: 4px;
    padding: 20px 20px;
    margin-bottom: 15px;
    width: 25%;
    box-shadow: 0 0 8px black;
    margin-top: 30px;
    background: #eeeeee;
}
input[type=text], input[type=date], input[type=number], select, input[type=submit], input[type=password], input[type=tel], input[type=email], input[type=time]
{
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}
#error
{
    border: 3px solid red;
}
input[type=text]:focus, input[type=date]:focus, input[type=number]:focus, select:focus, input[type=submit]:hover, input[type=password]:focus, input[type=tel]:focus, input[type=email]:focus
{
  border: 3px solid #555;
}





/* Ce qui est lié au popup JS */
.btn-add-row 
{
  background-color: #4CAF50; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 18px;  /*Some padding */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 15px;
}
/* Les boutons ajout et supprimer */
.btn-add-row:hover 
{
  background-color: darkgreen;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn-remove-row
{
  background-color: #f44336; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px 18px;  /*Some padding */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;    
  margin-top: 15px;
  text-align: center;
}
.btn-remove-row:hover 
{
  background-color: #9b1c31;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* Formulaire d'ajout de tableau */
#formAjoutTableau
{
    margin: auto;
    text-align: center;
}
/* Bouton valider */
.buttonValider
{
  background: #FFFFFF; 
  width: 100px;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}
.buttonValider:hover
{
    border: 3px solid #555;
}
/* le pop up de suppression */
/* animation */
@keyframes modalopen 
{
    from { opacity : 0 }
    to { opacity : 1 }
}
/* Le fond noir transparent */
#bg-modal
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; 
    
}
/* le block gris clair de suppression */
.modal-content
{
    height: 350px;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    animation-name: modalopen;
    animation-duration: 1s;
    padding: 50px;
    margin-left: 600px;
    margin-right: 600px;
}

.modal-content img
{
    text-align: center;
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}
/* le block gris clair de modification */
.modal-contentModifTableaux
{
    width: 300px;
    height: 650px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    animation-name: modalopen;
    animation-duration: 1s;
}
/* La croix qui ferme */
#close
{
    position: absolute;
    right: 15px; 
    top : 0px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.picto
{
    position: relative;
    margin: auto;
    top: 0;
    
}





/* Bouton supprimer dans les gestions */
.classBoutonSupprimerRouge
{
  background-color: #f44336; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px 18px;  /*Some padding */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;    
  text-align: center;
  
  text-shadow:0px 1px 0px #154682;
}
.classBoutonSupprimerRouge:hover 
{
    background:linear-gradient(to bottom, firebrick 5%, red 100%);
    background-color:red;
}
.classBoutonSupprimerRouge:active 
{
    position:relative;
    top:1px;
}
.classBoutonSupprimerGris
{
  background-color: grey; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px 18px;  /*Some padding */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;    
  text-align: center;
}





/* Bouton modifier dans les gestions */
.boutonModifierBleu 
{
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.boutonModifierBleu:hover 
{
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.boutonModifierBleu:active 
{
	position:relative;
	top:1px;
}
#boutonModifierBleu 
{
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
#boutonModifierBleu:hover 
{
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
#boutonModifierBleu:active 
{
	position:relative;
	top:1px;
}
.boutonModifierGris 
{
	box-shadow:inset 0px 1px 0px 0px grey;
	background:linear-gradient(to bottom, grey, grey);
	background-color:grey;
	border-radius:3px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}





/* Le CSS des flèches de tri du tableau */
.flecheDesc {
  width: 0; 
  height: 0; 
  float:right;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid RoyalBlue;
}
.flecheAsc {
  width: 0; 
  height: 0;
  float:right;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid RoyalBlue;
}





/* Autres */
h3
{
    text-align: center;
}
fieldset
{
  background: #FFFFFF; 
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}
#boutonValider
{
    display: none;
}
.messageErreur
{
    color: red;
}
.information
{
    display: none; 
    background: #eeeeee;
    position: absolute;
    right: 0;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    margin-right: 5%;
    margin-top: 0.5%;
    border-radius: 4px;
    box-shadow: 0 0 8px #9b9b9b;
}
.information .btn-custom
{
    background-color: #3498DB;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    margin-bottom: 13px;
}
.information .btn-custom:hover
{
    background-color: #2C3E50;
    color: #ffffff;
}
.inner-banner .information
{
    position: fixed;
    top: 70px;
}
#informationMembre
{
    border-radius: 20px;
}
article .imageBoxeur
{
    text-align: center;
}
#informationCompetition
{
    display: none;
}

/* Création de structure */
#creationStructure
{
    display: flex;
}
#structure
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#structure h2
{
    text-align: center;
}
#structure form
{
    width: auto;
}
#responsable
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#responsable h2
{
    text-align: center;
}
#responsable form
{
    width: auto;
}
#boutonValider
{
    width: 10%;
    margin: auto;
}
.btn-remove-row
{
    margin-left: auto;
    margin-right: auto;
}
.error
{
    background: red;
    color: yellow;
    width: 310px;
    margin: auto;
}
blockquote
{
    background: #30A6E6;
    color: white;
    padding: 5px;
    border-radius: 5px;
}